<!-- Especificacion XHTML -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- namespace-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<!-- head -->
	<h:head>
		<title>Ejemplo 1</title>
	</h:head>
	<!-- fin head -->
	<!-- body -->
	<h:body>
		<h1>Hola Mundo con PrimeFaces!!</h1>
		<hr />
		
		<h2>Lista de usuarios actuales</h2>
		
		<h:form>
		
			<p:inputText id="inputIdUsuario" value="#{beanUsuario.idUsuario}" required="true"/>
			<p:commandButton actionListener="#{beanUsuario.busqueda}" update="panelResultados" value="Submit"/>
			
			<br/>
			
			<p:outputPanel id="panelResultados" 
				rendered="#{beanUsuario.usuarioEncontrado ne null}">
				<h3>Resultados</h3>
				<h:outputLabel value="#ID : #{beanUsuario.usuarioEncontrado.idUsuario}"/>
				<h:outputLabel value="Nombre: #{beanUsuario.usuarioEncontrado.nombre}"/>
				<h:outputLabel value="Apellido: #{beanUsuario.usuarioEncontrado.apellido}"/>
				<h:outputLabel value="Edad: #{beanUsuario.usuarioEncontrado.edad}"/>
			</p:outputPanel>					
			
			<hr />
			<p:dataTable var="user" value="#{beanUsuario.listUsuario}">
				<p:column>
					<h:outputLabel value="#ID : #{user.idUsuario}"/>
				</p:column>
				<p:column>
					<h:outputLabel value="Nombre: #{user.nombre}"/>
				</p:column>
				<p:column>
					<h:outputLabel value="Apellido: #{user.apellido}"/>
				</p:column>
				<p:column>
					<h:outputLabel value="Edad: #{user.edad}"/>
				</p:column>
			</p:dataTable>
		</h:form>
	</h:body>
	<!-- fin body -->
</html>